@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Allerta&family=Anton&family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Gotham Black";
  src: url("../../fonts/Gotham/gotham_black.otf");
}

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/Gotham/gotham_book.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #000;
}

.container {
  width: 1530px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.header__inner .logo-img {
  width: 73px;
  height: 27px;
}

.header__inner nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__inner nav ul li {
  display: inline;
}

.header__inner nav ul li a {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.header__inner .contact-info a {
  font-family: "ABeeZee";
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 12px 24px;
  background: #925ff0;
}

.hero {
  padding-top: 60px;
  padding-bottom: 140px;
}

.hero-info {
  width: 660px;
}

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__inner .hero-text h1 {
  font-family: "Anton";
  font-weight: 400;
  font-size: 200px;
  line-height: 90%;
  letter-spacing: -3%;
  color: #fff;
  margin-bottom: 18px;
}

.hero__inner .hero-text {
  margin-bottom: 70px;
}

.hero__inner .hero-text span {
  font-family: "Anton";
  font-weight: 400;
  font-size: 114px;
  line-height: 90%;
  letter-spacing: -3%;
  background-image: linear-gradient(
    90deg,
    rgba(250, 112, 154, 1) 0%,
    rgba(254, 225, 64, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.hero-info {
  margin-right: 180px;
}

.hero-info .cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 660px;
  gap: 80px;
  margin-bottom: 40px;
}

.hero-info .cards .card {
  width: 40px;
  height: 40px;
}

.hero-info .download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-info .download-btn a {
  font-family: "Allerta";
  font-weight: 100;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  background: #292929;
  padding: 16px 190px;
  display: inline-flex;
  align-items: center;
}
.hero-info .download-btn a img {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  vertical-align: middle;
}
.portal-icon {
  position: absolute;
  top: 35px;
  right: 710px;
}

.hero-image img {
  width: 694px;
  height: 778px;
}

.numbers-info {
  margin-bottom: 210px;
}

.numbers-info__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #0b0b0b;
  border: 1px solid #646464;
  padding: 82px 100px;
  gap: 70px;
  border-radius: 25px;
}

.numbers-info__inner .star-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers-info__inner .star-container img {
  width: 80px;
  height: 80px;
}

.numbers-info__inner .first-card {
  width: 315px;
  height: 208px;
}

.numbers-info__inner .second-card {
  width: 387px;
  height: 208px;
}

.numbers-info__inner .third-card {
  width: 190px;
  height: 208px;
}

.numbers-info__inner .first-card span,
.numbers-info__inner .second-card span,
.numbers-info__inner .third-card span {
  font-family: "Anton";
  font-weight: 400;
  font-size: 128px;
  line-height: 90%;
  color: #c8fec7;
}

.numbers-info__inner .first-card p,
.numbers-info__inner .second-card p,
.numbers-info__inner .third-card p {
  font-family: "Gotham Black";
  font-weight: 400;
  font-size: 33px;
  line-height: 100%;
  letter-spacing: -5%;
  color: #c8fec7;
}

/* .portfolio {
  margin-bottom: 200px;
} */

.portfolio__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__inner .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.portfolio__inner .cards .card {
  width: calc((100% - 90px) / 4);
  height: 420px;
  background: #0b0b0b;
  border: 1px solid #737373;
  border-radius: 10px;
}

.portfolio__inner .cards .card img {
  border-radius: 10px;
  margin-bottom: 23px;
}

.portfolio .text-header {
  font-family: "Anton";
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 36px;
}

.portfolio__inner .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}

.portfolio__inner .cards .card .card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.portfolio__inner .cards .card h3 {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  line-height: 100%;
  letter-spacing: -5%;
  margin-bottom: 21px;
}

.portfolio__inner .cards .card .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.portfolio__inner .cards .card .btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 24px;
  background: #e9dffc;
  padding: 5px 8px;
  border: 1px solid #be9ff6;
  border-radius: 12px;
  margin-bottom: 23px;
}

.portfolio__inner .cards .card .btns .btn span {
  font-family: "Allerta";
  font-weight: 200;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -5%;
  color: #784dc7;
}

.portfolio__inner .cards .card .card-container .figma-btn {
  width: 100%;
  background: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
}

.portfolio__inner .cards .card .card-container .figma-btn a {
  width: 100%;
  font-family: "Allerta";
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  line-height: 100%;
  letter-spacing: -5%;
}

.skills {
  padding-top: 200px;
  padding-bottom: 200px;
}

.skills__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__inner .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skills__inner .cards .card {
  width: calc((100% - 20px) / 2);
  height: 320px;
  border: 1px solid #737373;
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 50px;
  padding-bottom: 60px;
}

.skills__inner .cards .card h3 {
  font-family: "Gotham Black";
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.skills__inner .cards .card p {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  height: 80px;
  width: 425.5px;
}

.skills__inner .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skills__inner .header-text {
  width: 100%;
  margin-bottom: 50px;
}

.skills__inner .header-text h2 {
  font-family: "Anton";
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}

.kaleb-words {
  background-image: url("../../img/gradient-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  padding: 147px 0;
}

.kaleb-words .kaleb__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kaleb__inner .kaleb-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kaleb__inner .kaleb-text h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 105%;
  letter-spacing: -5%;
  color: #fff;
  margin-bottom: 60px;
}

.kaleb__inner .kaleb-text p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 105%;
  letter-spacing: -5%;
  color: #fff;
  margin-bottom: 60px;
}
